*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}


.full{
    display: flex;
    width: 100%;
    justify-content: center;
}

.content{
    display: flex;
    width: 80%;
}

.container{
    display: flex;
}

body{
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #e5e7eb;
    text-decoration: none;
}

.signup{
    background-color: #3882f6;
    color: #e5e7eb;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

/* Hero */

.hero{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
}

.hero-box{
    height: 400px;
    padding: 24px;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.hero-text{
    flex-direction: column;
    flex: 1;
    gap: 10px;
    height: 300px;
}

.hero-text h2{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-box .img{
    flex: 1;
    align-self: center;
    text-align: center;
    height: 300px;
    background-color: grey;
}

/* Nav and Footer */

.header,
footer{
    height: 70px;
    align-items: center;
}

.header{
    width: 80%;
    justify-content: space-between;
}

.header ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
}

footer{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    margin-top: auto;
    justify-content: center;
}

/* Info */

.info{
    height: 400px;
    background-color: #f9faf8;
}

.info-list{
    width: 750px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-list h2{
    padding: 40px;
}

.card-list{
    flex: 1;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-list .placeholder{
    height: 125px;
    width: 125px;
    border: solid #3882f6 3px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Quotes */

.quotes{
    height: 400px;
    background-color: #e5e7eb;
}

.quote-box{
    width: 750px;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.quote-box .quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-box .citation{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

/* Marketing */

.marketing{
    height: 400px;
    justify-content: center;
    align-items: center;
}

.call-to-action{
    width:  900px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    gap: 20px;
}

.cta-text{
    flex-direction: column;
    flex-wrap: wrap;
}

.cta-text h5{
    font-size: 18px;
    font-weight: bold;
}

.call-to-action button{
    flex-shrink: 0;
    border: #f9faf8 1px solid;
}