*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.container{
    display: flex;
}

body{
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #e5e7eb;
    text-decoration: none;
}

/* Hero */

.hero{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header,
.hero-box{
    width: 80%;
}

.hero-box{
    height: 400px;
}

.hero-text{
    flex-direction: column;
}

/* Nav and Footer */

.header,
footer{
    height: 70px;
    align-items: center;
}

.header{
    margin-bottom: auto;
    justify-content: space-between;
}

.header ul{
    gap: 16px;
    list-style-type: none;
}

footer{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    margin-top: auto;
    justify-content: center;
}

/* Info */

.info{
    height: 400px;
}

/* Quotes */

.quotes{
    height: 400px;
}

/* Marketing */

.marketing{
    height: 400px;
}